[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
	unstage = reset HEAD --
	last = log -1 HEAD
[push]
	default = tracking
	config = default
[branch]
	autosetuprebase = remote
[branch "master"]
	rebase = true
[user]
	email = nathan+af@squareup.com
	name = nathan spindel + Alan Fineberg
