[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
	unstage = reset HEAD --
	last = log -1 HEAD
[push]
	default = current
[branch]
	autosetuprebase = remote
[branch "master"]
	rebase = true
